@import 'src/styles/utils';

:host {
    @include flex(space-evenly, center, column);
    width: 100vw;
    height: 100vh;
    position: relative;

    @media screen and (min-width: 1366px) {
        @include flex(flex-start, center, column);
        width: 20vw;
        gap: get-vh(90px);
    }
}

.image {
    @include flex(center, center, column);

    img {
        @include img(100%, 100%, cover, center);

    }
}

.title {
    font-size: 4rem;
    font-weight: 600;
    padding: 0 16%;
    box-sizing: border-box;

    &::after {
        content: '';
        display: block;
        width: 15%;
        height: get-vh(1px);
        background-color: $black;
    }
}

.info {
    @include flex(center, center, row);
    width: 100%;
    gap: 10px;
    padding: 0 15%;
    box-sizing: border-box;

    &__picto {
        width: get-vh(100px);
        height: get-vh(100px);

        img {
            @include img(100%, 100%, contain, center);
        }
    }

    &__desc {
        font-size: 1em;
        font-weight: 400;
    }

    @media screen and (min-width: 1366px) {
        @include flex(flex-start, center, row);
    }
}

app-footer {
    position: absolute;
    bottom: 0;

    @media screen and (min-width: 1366px) {
        left: get-vw(50px);
    }
}