<ng-container *transloco="let t; read: 'cards'">

    <div class="image">
        <img src="./assets/images/mountain.png" alt="mountain">
    </div>
    <div class="title">{{t('title')}}</div>

    <div class="info">
        <div class="gravityButton" appGravityBtn>
            <div class="btn" style="--color: #3ba294;">
                <img src="./assets/images/logo.png" alt="picto">
            </div>
        </div>
        <div class="info__desc">{{t('description')}}</div>
    </div>

    <app-footer />
</ng-container>