@import 'src/styles/utils';

:host {
    @include flex(center, center, column);
    width: 100vw;
    height: auto;
    overflow-y: scroll;

    @media screen and (min-width: 1366px) {
        @include flex(center, center, row);
    }
}