@import 'src/styles/utils';

:host {
    @include flex(flex-start, center, column);
    width: auto;
    height: 100vh;
    padding: 2% 2% 0 4%;
    box-sizing: border-box;
    z-index: 1;
    gap: get-vh(50px);
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (min-width: 1366px) {
        @include flex(center, center, column);
        width: 26vw;
    }
}

.title {
    font-size: em(100);
}

.btns {
    @include flex(center, center, row);
    width: 100%;
    gap: 20px;

    &__btn-fr,
    &__btn-en {
        @include flex(center, center, column);
        width: get-vw(200px);
        height: get-vh(46px);
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
        padding: 2% 10%;
        box-sizing: border-box;

        &:hover {
            transform: scale(1.01);
            filter: contrast(1.2);
        }
    }

    &__btn-fr {
        background-color: $main-color;
        color: $white;
        margin-right: get-vw(10px);
    }

    &__btn-en {
        background-color: transparent;
        border: 1px solid $main-color;
        color: $main-color;
    }
}