<div class="content-video">
    <iframe *ngIf="index === 0" src="https://www.youtube.com/embed/jbMuQNMGzsI?si=QlXTKESdGWxf7Jz9"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <iframe *ngIf="index === 1" src="https://www.youtube.com/embed/3knvPVoLYdA?si=eaAB0Q8XkrzUtWXR"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <iframe *ngIf="index === 2" src="https://www.youtube.com/embed/ALjURBuY6Bw?si=t9JqU611oCR74Ubd"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <iframe *ngIf="index === 3" src="https://www.youtube.com/embed/1h1vmPuOv-s?si=Q84iBhjza9vYC0nq"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

</div>