<div class="warning">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile-rotated" width="24"
    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
    stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <rect x="3" y="6" width="18" height="12" rx="2"></rect>
    <path d="M20 11v2"></path>
    <path d="M7 12h-.01"></path>
  </svg>
  <p>Pour une meilleur expérience,<br>utiliser ce site en version paysage.</p>
  <p>For a better experience,<br>use this site in landscape version.</p>
</div>

<div class="main">
  <router-outlet #outlet="outlet"></router-outlet>
</div>